<h1 class="subheading"><%= @event.title %></h1>
<h2 class="subheading">>> Roster for <%= @team.title %></h2>

<% if params[:order_by] %>
<h2 class="subheading alternate_row">>>>> Sorted by <%= params[:order_by].titleize %></h2>
<% end %>

<% if params[:fn] and params[:fv] %>
<h2 class="subheading">>>>> Filtered by <%= "#{params[:fn].titleize} (#{params[:fv]})" %></h2>
<% end %>

<% @asc = (@asc == 0) ? 1 : 0 %>

<%= paginate @roster %>
<%= render 'roster_table' %>
<%= link_to "Clear Filters", roster_path(team_key: @team.key, event_key: @event.key) %>
