<%= provide(:title, "Schedule #{@event.title}") %>
<%= provide(:h1, @event.title) %>
<%= provide(:h2, ">> Roster for #{@team.title}") %>

<% if params[:order_by] %>
<%= provide(:h3, ">>>> Sorted by #{params[:order_by].titleize}") %>
<% end %>

<% if params[:fn] and params[:fv] %>
<h2 class="subheading">>>>> Filtered by <%= "#{params[:fn].titleize} (#{params[:fv]})" %></h2>
<% end %>

<% @asc = (@asc == 0) ? 1 : 0 %>

<%= paginate @roster %>
<%= render 'roster_table' %>
<%= link_to "Clear Filters", roster_path(team_key: @team.key, event_key: @event.key) %>
