<%= provide(:title, "Schedule #{@event.title}") %>
<%= provide(:h1, @event.title) %>
<%= provide(:h2, @team?@team.title : nil) %>
<%= provide(:h3, "Full Season") %>

<h3>Schedule</h3>
<%= render 'schedule_table' %>
<%= paginate @schedule, :window => 2 %>
