<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 class="subheading">
<%= if ((defined? @event) and @event) 
     link_to(@event.title, schedule_path(event_key: @event.key, team_key: "none"))
    else
      header_title(yield(:h1)) 
    end%>
      &nbsp;</h1>
<h2 class="subheading"><%= header_title(yield(:h2)) %>&nbsp;</h2>
<h2 class="subheading alternate_row"><%= header_title(yield(:h3)) %>&nbsp;</h2>


<% if flash[:error] %>
<div id="error"><%= flash[:error] %></div>
<% end %>

<%= yield %>

</body>
</html>
